*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

/* root variable */
:root {
  --color-primary: #0059b3;
  --color-secondary: #66b3ff;
  --color-buttons: #999999;
  --color-underscore: #ff80ff;
  --color-border: #a6a6a6;
  --color-background1: #4da6ff;
  --color-background2: #df80ff;
  --color-background3: #aaff80;
  --color-background4: #ffaa80;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    /* margin-bottom: 3.5rem; */
  }
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 1.6rem;
    /* text-align: center; */
  }
}
html {
  font-size: 62.5%;
  background-image: url(img/BgcGradient.jpg);
}
.body__border {
  border: 1px solid white;
  margin: 5rem 1rem;
  padding: 5rem;
  border-radius: 100px;
  background-color: white;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.navAvatar {
  width: 20%;
  cursor: pointer;
}

.hero__section {
  display: flex;
  justify-content: center;
  align-self: center;
}
.hero--border {
  border: 0.01px solid #d9d9d9;
  margin: 5rem 1rem;
  /* padding: 2rem; */
  border-radius: 10px;
}
.left__border {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.border--titles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

.border--titles .tag {
  padding-left: 10rem;
}
.border--titles i {
  padding-top: 0.5rem;
  padding-left: 20rem;
  cursor: pointer;
  display: block;
}
.leftborder--titles {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 1rem;
  cursor: pointer;
}
.leftborder--titles--elem {
  padding-left: 1rem;
  display: inline;
}
.leftborder--titles--elem :hover {
  text-decoration-line: var(--color-background2);
}
.category--boxes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  color: black;
}
.category--boxes--details {
  background-color: var(--color-underscore);
  /* border: 1px solid var(--color-background4); */
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}
.category--boxes--details1 {
  background-color: var(--color-primary);
  /* border: 1px solid var(--color-primary); */
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}
.category--boxes--details1 i {
  cursor: pointer;
}
.category--boxes--details2 {
  background-color: var(--color-background3);
  /* border: 1px solid var(--color-background3); */
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}
.category--boxes--details2 i {
  cursor: pointer;
}
.category--boxes--details3 {
  background-color: var(--color-border);
  /* border: 1px solid var(--color-background3); */
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}
.category--boxes--details3 i {
  cursor: pointer;
}
.middle__date {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 2rem;
  cursor: pointer;
}
.active--tasks--boxes {
  background-color: var(--color-background4);
  /* border: 1px solid var(--color-background3); */
  border-radius: 10px;
  margin: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.active--tasks--boxes p {
  font-size: 1.5rem;
}
.right__border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.right__border p {
  margin: 0 2rem 0;
}
.right__border__footer p {
  margin: 0 4rem;
}
.right__border .right__border__footer {
  margin-bottom: 2rem;
}
